.registration{
    margin-top: 20px;
    margin-left: 35%;
    position: relative;
}

input {
    margin: 3px;
    width: 300px;
}

.submit{
    width: 250px;
    position: center;
    margin-top: 8px;
    margin-left: 30px;
    font-weight: bolder;
}

.view{
    width: 90%;
    height: 60px;
    margin: 40px;
}

.table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}

.cell1{
    width: 130px;
}

.cell9{
    width: 90px;
}

